<main>
    <video autoplay loop muted class="bgvideo" id="bgvideo">
        <source src="img/для сайта.mp4" type="video/mp4"></source>
    </video>
    <div class="container text-center main text-light">
        <div>
            <h1>Добро пожаловать в Rent a Car!</h1>
            <h2>Наша компания поможет вам добраться в любое место города!</h2>
            <h3>Скачайте наше приложение,чтобы начать аренду автомобиля</h3>

            <p class="d-flex align-items-center justify-content-center mt-5">
                <a class="btn btn-lg btn-primary btn-anim-2" href="app.html">Скачать приложение</a>
            </p>
        </div>
    </div>
</main>