<main>
    <div class="wrapper">
        <section class="py-5 text-center container about-anim">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h3 class="aboutus-title text-light">Rent a Car - компания с большой историей</h3>
                    <p class="aboutus-text text-light">Мы есть во всех городах Татарстана!</p>
                    <p class="aboutus-text text-light">История компании берет свое начало с 2010 года,когда в Казани появились наши первые автомобили для аренды. Постепенно наш автопарк увеличивался, в 2013 году мы открыли свой филиал в Набережных Челнах. К 2015 году наша компания насчитывала более 100 автомобилей в 10 городах республики!</p>
                </div>
            </div>
        </section>
        <div class="container marketing">
            <h2 class="text-light text-center m-4 about-anim-2">Лица Rent a Car</h2>
            <div class="row  text-center text-light about-anim-3">
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/1.jpg">

                    <h2>Ярослав Леонов</h2>
                    <p>Основатель компании, директор Rent a Car</p>
                </div>
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/2.jpg">

                    <h2>Светлана Демяшкевич</h2>
                    <p>финансовый директор</p>
                </div>
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/3.jpg">

                    <h2>Кирилл Соловьев</h2>
                    <p>PR-менеджер компании</p>
                </div>
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/4.jpg">

                    <h2>Александр Рыжов</h2>
                    <p>руководитель медиасервисов</p>
                </div>
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/5.jpg">

                    <h2>Ярослав Коновалов</h2>
                    <p>вице-президент по корпоративному развитию</p>
                </div>
                <div class="col-lg-4 mb-4">
                    <img class="bd-placeholder-img rounded-circle mb-4" width="250" height="250" src="img/about/6.jpg">

                    <h2>Станислав Маркин</h2>
                    <p>директор по стратегическому маркетингу</p>
                </div>
            </div>
        </div>
</main>